{% load alexie_filters %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Mini ALEXIE</title>
    </head>
    <body>
        ALEXIE home Welcome {{ request.user }}

        <hr>
        <pre>

{% for account_type_id, accounts in accounts.items %}

            <b><i>{{ account_type_names|get_item:account_type_id }}</i></b>
{% for account in accounts %}

                    <a href="/alexie/account/{{ account.id }}">{{ account_names|get_item:account.id }}</a>
               
                    {{ account_balances|get_item:account.id }}
{% endfor %}
{% endfor %}

        </pre>
    </body>
</html>
