{% extends "benny/base.html" %}
{% block title %}Account - Read{% endblock %}

{% block content %}
<h1>Account - Read</h1>
<p>
    Parent Account Type: <a href="{% url 'benny:accountTypeRead' account.accountType.id %}">({{ account.accountType }})</a>
</p>

{{ account.name }} <a href="{% url 'benny:accountUpdate' account.id %}">(edit)</a> <a href="{% url 'benny:accountConfirmDelete' account.id %}">(delete)</a>

{% for transaction in transactions %}
{% include 'benny/transactionSummaryLine.html' %}
{% endfor %}

{% endblock %}
