<a href="{% url 'benny:index' %}">home</a>

<!--
|
<a href="{% url 'benny:accountTypeCreate' %}">Create Account Type</a>
-->

<!--
|
<a href="{% url 'benny:accountCreate' %}">Create Account</a>
-->

|
<a href="{% url 'benny:transactionCreate' %}" class="small"> + create transaction</a>

|
<a href="{% url 'logout' %}" class="small">logout</a>
<br><br>
<span class="small">
    from

    <form action="{% url 'benny:changeDates' %}" method="POST" class="formLine">
        {% csrf_token %}
        <input type="text" name="from" size="10" value="{{ request.session.fromDate }}">

        to

        <input type="text" name="to" size="10" value="{{ request.session.toDate }}">

        <input type="hidden" name="prevUrl" value="{{ request.path }}">
        <input type="submit" value="go">
    </form>
</span>


<br><br>
