<a href="{% url 'benny:index' %}">home</a>

|
<a href="{% url 'logout' %}">logout</a>

<span class="small">({{ request.user }})</span>

<br>

<span class="small">
    view transactions from

    <form action="{% url 'benny:changeDates' %}" method="POST" class="formLine">
        {% csrf_token %}
        <input type="text" name="from" size="10" value="{{ request.session.fromDate }}">

        to

        <input type="text" name="to" size="10" value="{{ request.session.toDate }}">

        <input type="hidden" name="prevUrl" value="{{ request.path }}">
        <input type="submit" value="update">
    </form>

    <br>

    <a href="{% url 'benny:transactionCreate' %}" class="small"> + create new transaction</a>
</span>


<br><br>
